.recharts-wrapper{
    box-shadow: 8px 8px 4px #96b2dc
    
}
.chartTitle {color: #5c5e61;

}
.buttonContainer{
    width: 100%;
    float: left;
    text-align: center;
    background-color: white;
    margin: 5%;

}

 .buttonContainer button {
    padding: 5px;
    background: #6398e7 ;
    color: white;
    font-weight: 300;
    border: none;
    margin-right: 20px;
    
    display: inline-block;
    
    align-items: center;
  
   
    box-shadow: 6px 6px 3px #96b2dc
    
}