.navBar {
    color: whitesmoke;
    text-decoration: none;

}
h2 {
    padding: 15px;
    margin: 0;
}

.navBarLink {color: whitesmoke;
    text-decoration: none;
    

}
nav.navBar{
    margin-left: 15px;
    padding-bottom: 10px;
    
}