.studentBar{
   padding: 5px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   

}
.studentBar a {
    padding-left: 30px;
   
    text-decoration: none;
    color:#1f65ce;

    font-weight: 500;
}

